<h2 class="text-center">User Dashboard</h2>
<div class="row">
    <div class="col col-lg-8 m-auto">
        <%- include ('partials/messages') %>
    </div>
</div>
<div class="row">
    <div class="col col-lg-8 m-auto">
        <%- include ('partials/usernav') %>
    </div>
</div>
<% if(events) {%>
    <div class="row">
    <% events.forEach(event => {%>
        <div class="col col-lg-4">
            <div class="card card-body">
                <h4 class="text-center"><%= event.title %></h4>
                <p class="text-center"><%= event.description%></p>
                <p class="text-center"> <strong>Price: Ksh. <%= event.price%></strong></p>
                <h6 class="text-center"><strong>Event Date:</strong> <%= event.eventDate%></h6>
                <a class="btn btn-warning"  onclick="window.location='/book/<%= event._id %>';" style="cursor: pointer;" >Book Event</a>
            </div>
        </div>
    <% }) %>
    </div>
<% } %>
